body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flag-select__option__icon{
  top: 0 !important;
}

.blink {
  -webkit-animation: blinker 3s linear infinite;
  animation: blinker 3s linear infinite;
  position: absolute;
  left: 10px;
  color: #e53e3e;
  font-size: 12px;
  animation: blink 1s linear infinite;
}

@keyframes blink{
  10%{opacity: 0;}
  10%{opacity: .5;}
  100%{opacity: 1;}
}